.ClassMap {
    font-family: 'Roboto Mono', ;
    background-color: rgb(240, 240, 240);
    padding: 3rem;
    margin-bottom: 2rem;

    @at-root &__parent {
        list-style-type: square;
        font-weight: bold;
        margin-bottom: 0.5rem;
    }

    @at-root &__child {
        color: rgb(100, 100, 100);
        list-style-type: none;
        margin-bottom: 0.5rem;
    }

    @at-root &__meta {
        list-style-type: none;
        margin-bottom: 0.5rem;

        @at-root &::before {
            content: "✪ "
        }
    }

    @at-root &__viewport-placeholder {
        background: rgb(223, 81, 149);
        color: white;
        padding: 2px 5px;
        border-radius: 3px;
        margin: 0 2px;
    }

    @at-root &__viewport-size {
        background: rgb(81, 151, 223);
        color: white;
        padding: 2px 5px;
        border-radius: 3px;
        margin: 0 2px;
    }
}
