$font_alpha: 'Inconsolata', monospace;
$font_bravo: 'Roboto', sans-serif;
$font_charlie: 'Oswald', sans-serif;

$colors: (
    brand_alpha:   #000000,
    brand_bravo:   #FFFF00,
    shade_alpha:   #ECEFF1,
    shade_bravo:   #607D8B,
    shade_charlie: #455A64,
    shade_delta:   #37474F,
    shade_echo:    #263238,
);
