$colors: (
    alpha: #FFFFFF,
    bravo: #212121,
    charlie: #E91E63,
    delta: #2196F3,
    foxtrot: #CDDC39,
);

$fonts: (
    alpha: "'Roboto', sans-serif",
    bravo: "'Raleway', sans-serif",
)
