$font_alpha: 'Inconsolata', monospace;
$font_bravo: 'Roboto', sans-serif;
$font_charlie: 'Oswald', sans-serif;

$colors: (
    brand-alpha:   #000000,
    brand-bravo:   #FFFF00,
    shade-alpha:   #ECEFF1,
    shade-bravo:   #607D8B,
    shade-charlie: #455A64,
    shade-delta:   #37474F,
    shade-echo:    #263238,
);
