.ExampleColumn {
    background-color: #FFC107;
    min-height: 30px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin: 0;
    padding: 0;
    font-weight: 700;

    @at-root &--large {
        min-height: 200px;
    }
}

.Layout__column:nth-child(2n) {
    .ExampleColumn {
        background-color: #FF9800;
    }
}
