.ExampleColumn {
    background-color: #c9c9c9;
    min-height: 30px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin: 0;
    padding: 0;
    font-weight: 700;
}

.Layout__column:nth-child(2n) {
    .ExampleColumn {
        background-color: #b9b6b6;
    }
}
