.HeroExample {
    background-color: rgb(30, 30, 30);
    color: white;

    @at-root &__header {
        font-weight: 700;
        font-size: 0.8rem;
        color: rgb(100, 100, 100);
        text-transform: uppercase;
        letter-spacing: 2px;
    }

    @at-root &__stat {
        font-size: 1.5rem;
    }
}
