.Hero {
    background: #FFEB3B;
    color: black;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 50px;

    @media (min-width: 544px) {
        margin-bottom: 100px;
    }

    @at-root &__box {
        flex: 1;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    @at-root &__icon {
        height: 6rem;

        @media (min-width: 544px) {
            height: 8rem;
        }
    }

    @at-root &__title {
        font-family: 'Raleway', sans-serif;
        font-weight: 900;
        font-size: 4rem;
        margin: 0;
        text-shadow: 0px 3px 0px #e1d430,
                     0px 14px 10px rgba(0,0,0,0.15),
                     0px 24px 2px rgba(0,0,0,0.1),
                     0px 34px 30px rgba(0,0,0,0.1);

        @media (min-width: 544px) {
            font-size: 6rem;
        }
    }

    @at-root &__slogan {
        margin-bottom: 50px;
        display: block;
    }

    @at-root &__btn {
        text-decoration: none;
        color: black;
        border: 2px solid black;
        padding: 5px 10px;
        border-radius: 30px;
        margin: 0 5px;
        transition: all .3s ease;

        &:focus, &:hover {
            background-color: black;
            color: white;
        }

        @media (min-width: 544px) {
            padding: 10px 20px;
        }
    }

    @at-root &__code {
        font-family: monospace;
        background: black;
        color: white;
        padding: 8px 15px;
        margin-top: 25px;
        display: inline-block;
        border-radius: 25px;
    }

    @at-root &__mouse {
        margin-bottom: 20px;
        display: none;

        @media (min-width: 544px) {
            display: block;
        }
    }
}
