@import url('https://fonts.googleapis.com/css?family=Raleway:900|Roboto:400,700|Roboto+Mono');
@import 'scroll-mouse.scss';
@import 'hero.scss';
@import 'heading.scss';
@import 'examples.scss';
@import 'slice.scss';
@import 'code.scss';
@import 'paragraph.scss';
@import 'link.scss';
@import 'pre.scss';
@import 'navigation.scss';
@import 'doc-body.scss';
@import 'class-map.scss';

body {
    padding: 0;
    margin: 0;

    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
