.Link {
    text-shadow: 0.05556em 0 0 #fff,0.11111em 0 0 #fff,0.16667em 0 0 #fff,-0.05556em 0 0 #fff,-0.11111em 0 0 #fff,-0.16667em 0 0 #fff;
    background-image: -webkit-linear-gradient(#fe8e47, #fe8e47);
    background-image: -moz-linear-gradient(#fe8e47, #fe8e47);
    background-image: -ms-linear-gradient(#fe8e47, #fe8e47);
    background-image: linear-gradient(#fe8e47, #fe8e47);
    background-position: 0 1.06em;
    background-size: 1px 1px;
    background-repeat: repeat-x;
    font-style: italic;
    color: black;
    text-decoration: none;
    font-weight: 700;
}
