@each $color, $hex in $colors {
    .util-bg-#{$color} {
        background-color: $hex !important;
    }

    .util-fg-#{$color} {
        color: $hex !important;
    }
}

.util-img-responsive {
    width: auto;
    max-width: 100%;
}
