body {
    font-size: 16px;
    font-weight: 700;
    font-family: $font_bravo;
    background-color: map-get($colors, brand-alpha);
    line-height: 1.8;
}

h1 {
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
    font-family: $font_charlie;
}

h2, h3, h4, h5, h6 {
    font-weight: bold;
    font-family: $font_alpha;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1rem;
}

a {
    color: map-get($colors, shade-alpha);
}
