@include root('row') {
    $flows: ('row', 'row-reverse', 'column', 'column-reverse');

    @each $flow in $flows {
        @include modifier('flow-#{$flow}') {
            flex-direction: unquote($flow);
        }
    }

    @each $flow in $flows {
        $size: 'xs';

        @include at-viewport-exact($size) {
            @include modifier('#{$size}-flow-#{$flow}') {
                flex-direction: unquote($flow);
            }
        }
    }

    @each $flow in $flows {
        $size: 'sm';

        @include at-viewport-exact($size) {
            @include modifier('#{$size}-flow-#{$flow}') {
                flex-direction: unquote($flow);
            }
        }
    }

    @each $flow in $flows {
        $size: 'md';

        @include at-viewport-exact($size) {
            @include modifier('#{$size}-flow-#{$flow}') {
                flex-direction: unquote($flow);
            }
        }
    }

    @each $flow in $flows {
        $size: 'lg';

        @include at-viewport-exact($size) {
            @include modifier('#{$size}-flow-#{$flow}') {
                flex-direction: unquote($flow);
            }
        }
    }

    @each $flow in $flows {
        $size: 'xl';

        @include at-viewport-exact($size) {
            @include modifier('#{$size}-flow-#{$flow}') {
                flex-direction: unquote($flow);
            }
        }
    }
}
