.#{$block-name-layout}__row {
    // Vertically align all columns to the top of the row.
    @at-root &--valign-top {
        align-items: flex-start;
    }

    // Vertically align all columns to the bottom of the row.
    @at-root &--valign-bottom {
        align-items: flex-end;
    }

    // Vertically align all columns to the center of the row.
    @at-root &--valign-center {
        align-items: center;
    }

    // Vertically align all columns in the row based on their contents baseline.
    @at-root &--valign-baseline {
        align-items: baseline;
    }

    // Vertically align all columns to the center of the row.
    @at-root &--valign-stretch {
        align-items: stretch;
    }
}
