.Body {
  background-color: #FFFFFF;
  color: #212121;
  font-family: 'Roboto', sans-serif;
  font-size: 18px; }

.Container {
  padding: 4rem 0rem; }
  .Container--bg-alpha {
    background-color: #FFFFFF; }
  .Container--fg-alpha {
    color: #FFFFFF; }
  .Container--bg-bravo {
    background-color: #212121; }
  .Container--fg-bravo {
    color: #212121; }
  .Container--bg-charlie {
    background-color: #E91E63; }
  .Container--fg-charlie {
    color: #E91E63; }
  .Container--bg-delta {
    background-color: #2196F3; }
  .Container--fg-delta {
    color: #2196F3; }
  .Container--bg-foxtrot {
    background-color: #CDDC39; }
  .Container--fg-foxtrot {
    color: #CDDC39; }

.Heading {
  font-family: 'Raleway', sans-serif; }
