.Container {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 90rem; }

.Row {
  align-items: stretch;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  margin-left: -1rem;
  margin-right: -1rem; }
  @media (min-width: 768px) {
    .Row {
      flex-wrap: nowrap; } }

.Row--align-top {
  align-items: flex-start !important; }

.Row--align-center {
  align-items: center !important; }

.Row--align-bottom {
  align-items: flex-end !important; }

.Row--stretch {
  align-items: stretch !important; }

.Row--baseline {
  align-items: baseline !important; }

.Row--no-gutters {
  margin-left: 0;
  margin-right: 0; }
  .Row--no-gutters .Column {
    margin: 0; }

.Row--no-breaks {
  margin-bottom: 0; }

.Column {
  box-sizing: border-box;
  flex: 1;
  margin: 0 1rem;
  margin-bottom: 2rem;
  flex-basis: 100%; }
  @media (min-width: 768px) {
    .Column {
      margin-bottom: 0;
      flex-basis: auto; } }

.Column--1 {
  flex-basis: 8.33333%; }

.Column--xs-1 {
  flex-basis: 8.33333%; }

@media (min-width: 544px) {
  .Column--sm-1 {
    flex-basis: 8.33333%; } }

@media (min-width: 768px) {
  .Column--md-1 {
    flex-basis: 8.33333%; } }

@media (min-width: 992px) {
  .Column--lg-1 {
    flex-basis: 8.33333%; } }

@media (min-width: 1200px) {
  .Column--xl-1 {
    flex-basis: 8.33333%; } }

.Column--2 {
  flex-basis: 16.66667%; }

.Column--xs-2 {
  flex-basis: 16.66667%; }

@media (min-width: 544px) {
  .Column--sm-2 {
    flex-basis: 16.66667%; } }

@media (min-width: 768px) {
  .Column--md-2 {
    flex-basis: 16.66667%; } }

@media (min-width: 992px) {
  .Column--lg-2 {
    flex-basis: 16.66667%; } }

@media (min-width: 1200px) {
  .Column--xl-2 {
    flex-basis: 16.66667%; } }

.Column--3 {
  flex-basis: 25%; }

.Column--xs-3 {
  flex-basis: 25%; }

@media (min-width: 544px) {
  .Column--sm-3 {
    flex-basis: 25%; } }

@media (min-width: 768px) {
  .Column--md-3 {
    flex-basis: 25%; } }

@media (min-width: 992px) {
  .Column--lg-3 {
    flex-basis: 25%; } }

@media (min-width: 1200px) {
  .Column--xl-3 {
    flex-basis: 25%; } }

.Column--4 {
  flex-basis: 33.33333%; }

.Column--xs-4 {
  flex-basis: 33.33333%; }

@media (min-width: 544px) {
  .Column--sm-4 {
    flex-basis: 33.33333%; } }

@media (min-width: 768px) {
  .Column--md-4 {
    flex-basis: 33.33333%; } }

@media (min-width: 992px) {
  .Column--lg-4 {
    flex-basis: 33.33333%; } }

@media (min-width: 1200px) {
  .Column--xl-4 {
    flex-basis: 33.33333%; } }

.Column--5 {
  flex-basis: 41.66667%; }

.Column--xs-5 {
  flex-basis: 41.66667%; }

@media (min-width: 544px) {
  .Column--sm-5 {
    flex-basis: 41.66667%; } }

@media (min-width: 768px) {
  .Column--md-5 {
    flex-basis: 41.66667%; } }

@media (min-width: 992px) {
  .Column--lg-5 {
    flex-basis: 41.66667%; } }

@media (min-width: 1200px) {
  .Column--xl-5 {
    flex-basis: 41.66667%; } }

.Column--6 {
  flex-basis: 50%; }

.Column--xs-6 {
  flex-basis: 50%; }

@media (min-width: 544px) {
  .Column--sm-6 {
    flex-basis: 50%; } }

@media (min-width: 768px) {
  .Column--md-6 {
    flex-basis: 50%; } }

@media (min-width: 992px) {
  .Column--lg-6 {
    flex-basis: 50%; } }

@media (min-width: 1200px) {
  .Column--xl-6 {
    flex-basis: 50%; } }

.Column--7 {
  flex-basis: 58.33333%; }

.Column--xs-7 {
  flex-basis: 58.33333%; }

@media (min-width: 544px) {
  .Column--sm-7 {
    flex-basis: 58.33333%; } }

@media (min-width: 768px) {
  .Column--md-7 {
    flex-basis: 58.33333%; } }

@media (min-width: 992px) {
  .Column--lg-7 {
    flex-basis: 58.33333%; } }

@media (min-width: 1200px) {
  .Column--xl-7 {
    flex-basis: 58.33333%; } }

.Column--8 {
  flex-basis: 66.66667%; }

.Column--xs-8 {
  flex-basis: 66.66667%; }

@media (min-width: 544px) {
  .Column--sm-8 {
    flex-basis: 66.66667%; } }

@media (min-width: 768px) {
  .Column--md-8 {
    flex-basis: 66.66667%; } }

@media (min-width: 992px) {
  .Column--lg-8 {
    flex-basis: 66.66667%; } }

@media (min-width: 1200px) {
  .Column--xl-8 {
    flex-basis: 66.66667%; } }

.Column--9 {
  flex-basis: 75%; }

.Column--xs-9 {
  flex-basis: 75%; }

@media (min-width: 544px) {
  .Column--sm-9 {
    flex-basis: 75%; } }

@media (min-width: 768px) {
  .Column--md-9 {
    flex-basis: 75%; } }

@media (min-width: 992px) {
  .Column--lg-9 {
    flex-basis: 75%; } }

@media (min-width: 1200px) {
  .Column--xl-9 {
    flex-basis: 75%; } }

.Column--10 {
  flex-basis: 83.33333%; }

.Column--xs-10 {
  flex-basis: 83.33333%; }

@media (min-width: 544px) {
  .Column--sm-10 {
    flex-basis: 83.33333%; } }

@media (min-width: 768px) {
  .Column--md-10 {
    flex-basis: 83.33333%; } }

@media (min-width: 992px) {
  .Column--lg-10 {
    flex-basis: 83.33333%; } }

@media (min-width: 1200px) {
  .Column--xl-10 {
    flex-basis: 83.33333%; } }

.Column--11 {
  flex-basis: 91.66667%; }

.Column--xs-11 {
  flex-basis: 91.66667%; }

@media (min-width: 544px) {
  .Column--sm-11 {
    flex-basis: 91.66667%; } }

@media (min-width: 768px) {
  .Column--md-11 {
    flex-basis: 91.66667%; } }

@media (min-width: 992px) {
  .Column--lg-11 {
    flex-basis: 91.66667%; } }

@media (min-width: 1200px) {
  .Column--xl-11 {
    flex-basis: 91.66667%; } }

.Column--12 {
  flex-basis: 100%; }

.Column--xs-12 {
  flex-basis: 100%; }

@media (min-width: 544px) {
  .Column--sm-12 {
    flex-basis: 100%; } }

@media (min-width: 768px) {
  .Column--md-12 {
    flex-basis: 100%; } }

@media (min-width: 992px) {
  .Column--lg-12 {
    flex-basis: 100%; } }

@media (min-width: 1200px) {
  .Column--xl-12 {
    flex-basis: 100%; } }

.Column--offset-1 {
  margin-left: 8.33333% !important; }

.Column--offset-2 {
  margin-left: 16.66667% !important; }

.Column--offset-3 {
  margin-left: 25% !important; }

.Column--offset-4 {
  margin-left: 33.33333% !important; }

.Column--offset-5 {
  margin-left: 41.66667% !important; }

.Column--offset-6 {
  margin-left: 50% !important; }

.Column--offset-7 {
  margin-left: 58.33333% !important; }

.Column--offset-8 {
  margin-left: 66.66667% !important; }

.Column--offset-9 {
  margin-left: 75% !important; }

.Column--offset-10 {
  margin-left: 83.33333% !important; }

.Column--offset-11 {
  margin-left: 91.66667% !important; }

.Column--offset-12 {
  margin-left: 100% !important; }

.Column--half {
  flex: none;
  width: 50%; }

.Column--quater {
  flex: none;
  width: 25%; }

.Column--three-quaters {
  flex: none;
  width: 75%; }

.Column--third {
  flex: none;
  width: 33.33333%; }

.Column--two-thirds {
  flex: none;
  width: 66.66667%; }

.Column--text-left {
  text-align: left; }

.Column--text-center {
  text-align: center; }

.Column--text-right {
  text-align: right; }

.Column--text-justify {
  text-align: justify; }
