@-ms-viewport {
  width: device-width; }

html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar; }

*,
*::before,
*::after {
  box-sizing: inherit; }

body {
  font-size: 16px; }

.Container {
  padding: 0 15px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse; }

@media (min-width: 0px) {
  .Panel--a {
    flex-shrink: 0;
    flex-grow: 0;
    flex-basis: calc(66.66667% - (30px - (30px / 2)));
    width: calc(66.66667% - (30px - (30px / 2)));
    max-width: calc(66.66667% - (30px - (30px / 2))); } }

@media (min-width: 0px) {
  .Panel--b {
    flex-shrink: 0;
    flex-grow: 0;
    flex-basis: calc(33.33333% - (30px - (30px / 2)));
    width: calc(33.33333% - (30px - (30px / 2)));
    max-width: calc(33.33333% - (30px - (30px / 2)));
    margin-right: 30px; }
    .Panel--b:nth-child(3n+3) {
      margin-right: 0; }
    .Panel--b:nth-child(n+4) {
      margin-top: 30px; } }
