.#{$ROW} {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    margin-left: -$half-gutter-width;
    margin-right: -$half-gutter-width;
    padding-left: $half-gutter-width;
    padding-right: $half-gutter-width;

    @include debug(orange);

    //
    // -------------------------------------------------------------------------
    // Column gutters.
    // -------------------------------------------------------------------------
    //

    &--gutters {
        padding-left: 0rem;
        padding-right: 0rem;

        > .#{$COLUMN} {
            padding: 0rem $half-gutter-width;
        }
    }

    @each $label, $width in $viewport-min-widths {
        @include viewport-min($label) {
            &--#{$label}-gutters {
                padding-left: 0rem;
                padding-right: 0rem;

                > .#{$COLUMN} {
                    padding: 0rem $half-gutter-width;
                }
            }
        }
    }

    //
    // -------------------------------------------------------------------------
    // Column bottoms.
    // -------------------------------------------------------------------------
    //

    &--bottoms {
        margin-bottom: -$gutter-width;

        .#{$COLUMN} {
            padding-bottom: $gutter-width;
        }
    }

    @each $label, $width in $viewport-min-widths {
        @include viewport-min($label) {
            &--#{$label}-bottoms {
                margin-bottom: -$gutter-width;

                .#{$COLUMN} {
                    padding-bottom: $gutter-width;
                }
            }
        }
    }

    //
    // -------------------------------------------------------------------------
    // Breaks.
    // -------------------------------------------------------------------------
    //

    &--breaks {
        margin-bottom: $gutter-width;
    }

    @each $label, $width in $viewport-min-widths {
        @include viewport-min($label) {
            &--#{$label}-breaks {
                margin-bottom: $gutter-width;
            }
        }
    }

    &--bottoms.#{$ROW}--breaks {
        margin-bottom: 0;
    }

    @each $label, $width in $viewport-min-widths {
        @include viewport-min($label) {
            &--#{$label}-bottoms.#{$ROW}--#{$label}-breaks {
                margin-bottom: 0;
            }
        }
    }

    //
    // -------------------------------------------------------------------------
    // Flow direction.
    // -------------------------------------------------------------------------
    //

    $flows: row row-reverse column column-reverse;

    @each $flow in $flows {
        &--direction-#{$flow} {
            flex-direction: $flow;
        }
    }

    @each $label, $width in $viewport-min-widths {
        @include viewport-min($label) {
            @each $flow in $flows {
                &--#{$label}-direction-#{$flow} {
                    flex-direction: $flow;
                }
            }
        }
    }

    //
    // -------------------------------------------------------------------------
    // Vertical alignment.
    // -------------------------------------------------------------------------
    //

    $vertical-alignments: (
        baseline: baseline,
        center: center,
        top: flex-start,
        bottom: flex-end,
        stretch: stretch,
    );

    @each $name, $alignment in $vertical-alignments {
        &--valign-#{$name} {
            align-items: $alignment;
        }
    }

    @each $label, $width in $viewport-min-widths {
        @include viewport-min($label) {
            @each $name, $alignment in $vertical-alignments {
                &--#{$label}-valign-#{$name} {
                    align-items: $alignment;
                }
            }
        }
    }
}
