.#{$ROW} {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    margin-left: -$half-gutter-width;
    margin-right: -$half-gutter-width;
    padding-left: $half-gutter-width;
    padding-right: $half-gutter-width;

    //
    // -------------------------------------------------------------------------
    // Gutters.
    // -------------------------------------------------------------------------
    //

    &--gutters {
        margin-bottom: -$gutter-width;
        padding-left: 0rem;
        padding-right: 0rem;

        .#{$COLUMN} {
            padding-bottom: $gutter-width;
            padding-left: $half-gutter-width;
            padding-right: $half-gutter-width;
            padding-top: 0rem;
        }
    }

    @each $label, $width in $viewport-min-widths {
        @include viewport-min($label) {
            &--#{$label}-gutters {
                margin-bottom: -$gutter-width;
                padding-left: 0rem;
                padding-right: 0rem;

                .#{$COLUMN} {
                    padding-bottom: $gutter-width;
                    padding-left: $half-gutter-width;
                    padding-right: $half-gutter-width;
                    padding-top: 0rem;
                }
            }
        }
    }

    //
    // -------------------------------------------------------------------------
    // Breaks.
    // -------------------------------------------------------------------------
    //

    &--breaks {
        margin-bottom: $gutter-width;
    }

    @each $label, $width in $viewport-min-widths {
        @include viewport-min($label) {
            &--#{$label}-breaks {
                margin-bottom: $gutter-width;
            }
        }
    }

    &--gutters.#{$ROW}--breaks {
        margin-bottom: 0;
    }

    @each $label, $width in $viewport-min-widths {
        @include viewport-min($label) {
            &--#{$label}-gutters.#{$ROW}--#{$label}-breaks {
                margin-bottom: 0;
            }
        }
    }

    //
    // -------------------------------------------------------------------------
    // Flow direction.
    // -------------------------------------------------------------------------
    //

    $flows: row row-reverse column column-reverse;

    @each $flow in $flows {
        &--direction-#{$flow} {
            flex-direction: $flow;
        }
    }

    @each $label, $width in $viewport-min-widths {
        @include viewport-min($label) {
            @each $flow in $flows {
                &--#{$label}-direction-#{$flow} {
                    flex-direction: $flow;
                }
            }
        }
    }
}
