@import 'reusables.scss';

@include row() {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1;

    &--bottomless {
        @include row-bottomless;
    }

    &--gutterless {
        @include row-gutterless;
    }

    // Generate bottomless modifiers for each viewport size.
    @each $label, $width in $viewport-min-widths {
        @include viewport-min($label) {
            &--#{$label}-bottomless {
                @include row-bottomless;
            }
        }
    }

    // Generate bottomless-down modifiers for each viewport size.
    @each $label, $width in $viewport-min-widths {
        @include viewport-down($label) {
            &--#{$label}-bottomless-down {
                @include row-bottomless;
            }
        }
    }

    // Generate bottomless-only modifiers for each viewport size.
    @each $label, $width in $viewport-min-widths {
        @include viewport-only($label) {
            &--#{$label}-bottomless-only {
                @include row-bottomless;
            }
        }
    }

    // Generate gutterless modifiers for each viewport size.
    @each $label, $width in $viewport-min-widths {
        @include viewport-min($label) {
            &--#{$label}-gutterless {
                @include row-gutterless;
            }
        }
    }

    // Generate gutterless-down modifiers for each viewport size.
    @each $label, $width in $viewport-min-widths {
        @include viewport-down($label) {
            &--#{$label}-gutterless-down {
                @include row-gutterless;
            }
        }
    }

    // Generate gutterless-only modifiers for each viewport size.
    @each $label, $width in $viewport-min-widths {
        @include viewport-only($label) {
            &--#{$label}-gutterless-only {
                @include row-gutterless;
            }
        }
    }
}
