@include root('column') {
    overflow: hidden;
    padding: $gutter-width;
    padding-bottom: $gutter-width * 2;
    padding-top: 0;
    flex: 1;
    position: relative;

    .#{$block-name-layout}__row {
        margin-bottom: $gutter-width * -2;
    }
}
