@include root('column') {
    $alignments: ('left', 'right', 'center', 'justify');

    @each $alignment in $alignments {
        @include modifier('text-#{$alignment}') {
            text-align: unquote($alignment);
        }
    }

    @each $alignment in $alignments {
        $size: 'xs';

        @include at-viewport-exact($size) {
            @include modifier('#{$size}-text-#{$alignment}') {
                text-align: unquote($alignment) !important;
            }
        }
    }

    @each $alignment in $alignments {
        $size: 'sm';

        @include at-viewport-exact($size) {
            @include modifier('#{$size}-text-#{$alignment}') {
                text-align: unquote($alignment) !important;
            }
        }
    }

    @each $alignment in $alignments {
        $size: 'md';

        @include at-viewport-exact($size) {
            @include modifier('#{$size}-text-#{$alignment}') {
                text-align: unquote($alignment) !important;
            }
        }
    }

    @each $alignment in $alignments {
        $size: 'lg';

        @include at-viewport-exact($size) {
            @include modifier('#{$size}-text-#{$alignment}') {
                text-align: unquote($alignment) !important;
            }
        }
    }

    @each $alignment in $alignments {
        $size: 'xl';

        @include at-viewport-exact($size) {
            @include modifier('#{$size}-text-#{$alignment}') {
                text-align: unquote($alignment) !important;
            }
        }
    }
}
