.Layout__column {
    overflow: hidden;
    padding: $gutter-width;
    padding-bottom: $gutter-width * 2;
    padding-top: 0;
    flex: 1;
    position: relative;

    .Layout__row {
        margin-bottom: $gutter-width * -2;
    }
}
