@include root('column') {
    @include modifier('fill-parent') {
        display: flex;
        align-items: stretch;
        flex-direction: column;
    }

    @include modifier('fill-child') {
        flex: 1;
    }
}
