@include root('column') {
    // This will automagically generate column sized offsets for each
    // device size (xs, sm, md, lg, xl) starting at 1 and going up to
    // the specified $column-count amount. Eg: Column--xs-offset-6.

    @for $i from 1 through $column-count {
        // These will apply at all viewport sizes.
        @include modifier('offset-#{$i}') {
            margin-left: ($i / $column-count) * 100%;
        }

        @include modifier('xs-offset-#{$i}') {
            margin-left: ($i / $column-count) * 100%;
        }
    }

    @for $i from 1 through $column-count {
        // These will apply at mobile/touch viewport sizes.
        @include modifier('sm-offset-#{$i}') {
            @media (min-width: $viewport-sm) {
                margin-left: ($i / $column-count) * 100%;
            }
        }
    }

    @for $i from 1 through $column-count {
        // These will apply at tablet viewport sizes.
        @include modifier('md-offset-#{$i}') {
            @media (min-width: $viewport-md) {
                margin-left: ($i / $column-count) * 100%;
            }
        }
    }

    @for $i from 1 through $column-count {
        // These will apply at desktop viewport sizes.
        @include modifier('lg-offset-#{$i}') {
            @media (min-width: $viewport-lg) {
                margin-left: ($i / $column-count) * 100%;
            }
        }
    }

    @for $i from 1 through $column-count {
        // These will apply at large desktop viewport sizes.
        @include modifier('xl-offset-#{$i}') {
            @media (min-width: $viewport-xl) {
                margin-left: ($i / $column-count) * 100%;
            }
        }
    }
}
