@include root('column') {
    // This will automagically generate a column size modifier for each
    // device size (xs, sm, md, lg, xl) starting at 1 and going up to
    // the specified $column-count amount. Eg: Column--xs-6 or Column--1.

    @for $i from 1 through $column-count {
        // These will apply at all viewport sizes.
        @include modifier('#{$i}') {
            flex: 0 0 (($i / $column-count) * 100%);
        }
    }

    @for $i from 1 through $column-count {
        @include modifier('xs-#{$i}') {
            flex: 0 0 (($i / $column-count) * 100%);
        }
    }

    @for $i from 1 through $column-count {
        $size: 'sm';

        @include at-viewport-min($size) {
            @include modifier('#{$size}-#{$i}') {
                flex: 0 0 (($i / $column-count) * 100%);
            }
        }
    }

    @for $i from 1 through $column-count {
        $size: 'md';

        @include at-viewport-min($size) {
            @include modifier('#{$size}-#{$i}') {
                flex: 0 0 (($i / $column-count) * 100%);
            }
        }
    }

    @for $i from 1 through $column-count {
        $size: 'lg';

        @include at-viewport-min($size) {
            @include modifier('#{$size}-#{$i}') {
                flex: 0 0 (($i / $column-count) * 100%);
            }
        }
    }

    @for $i from 1 through $column-count {
        $size: 'xl';

        @include at-viewport-min($size) {
            @include modifier('#{$size}-#{$i}') {
                flex: 0 0 (($i / $column-count) * 100%);
            }
        }
    }
}
