.Column {
    @for $i from 1 through $column-count {
        // Create generic viewport agnostic sizes.
        @at-root &--#{$i} {
            flex-basis: ($i / $column-count) * 100%;
        }

        // Create extra-small sizes.
        @at-root &--xs-#{$i} {
            flex-basis: ($i / $column-count) * 100%;
        }

        // Create small sizes.
        @at-root &--sm-#{$i} {
            @media (min-width: $breakpoint-sm) {
                flex-basis: ($i / $column-count) * 100%;
            }
        }

        // Create medium sizes.
        @at-root &--md-#{$i} {
            @media (min-width: $breakpoint-md) {
                flex-basis: ($i / $column-count) * 100%;
            }
        }

        // Create large sizes.
        @at-root &--lg-#{$i} {
            @media (min-width: $breakpoint-lg) {
                flex-basis: ($i / $column-count) * 100%;
            }
        }

        // Create extra-large sizes.
        @at-root &--xl-#{$i} {
            @media (min-width: $breakpoint-xl) {
                flex-basis: ($i / $column-count) * 100%;
            }
        }
    }
}
