@include root('column') {
    @include at-viewport-exact('xs') {
        @include modifier('xs-hidden') {
            display: none !important;
        }
    }

    @include at-viewport-exact('sm') {
        @include modifier('sm-hidden') {
            display: none !important;
        }
    }

    @include at-viewport-exact('md') {
        @include modifier('md-hidden') {
            display: none !important;
        }
    }

    @include at-viewport-exact('lg') {
        @include modifier('lg-hidden') {
            display: none !important;
        }
    }

    @include at-viewport-exact('xl') {
        @include modifier('xl-hidden') {
            display: none !important;
        }
    }
}
