.Container {
    padding: 4rem 0rem;
    
    &--dark {
        color: map-get($colors, shade-alpha);
    }

    &--light {
        background-color: map-get($colors, shade-alpha);
        color: map-get($colors, brand-alpha);
    }
}
