.Masthead {
    height: 53rem;
    background-position: bottom;
    background-repeat: repeat-x;
    padding: 1rem 0rem 0rem 0rem;
    background-image: url('../images/zeus-masthead.jpg');

    &__icon {
        height: 2rem;
    }

    &__link {
        align-items: center;
        display: inline-flex;

        img {
            margin-right: 0.5rem;
        }
    }

    &__logo {
        margin: 12rem 0rem 0rem 0rem;
    }

    &__keypoint {
        border: 1px solid transparentize(map-get($colors, shade-echo), 0.5);
        padding: 0.1rem 0.3rem;
        border-radius: 3px;
        display: none;

        @include viewport-min('sm') {
            display: inline-block;
        }
    }
}
