.Powered {
    opacity: 0.5;
    align-items: center;
    display: inline-flex;
    justify-content: center;
    transition: all .5s ease;

    &:hover {
        opacity: 1;
    }

    &__image {
        display: flex;
        margin-right: 1rem;
        align-items: center;
        justify-content: center;

        img {
            width: 2rem;
        }
    }
}
