@import 'reusables.scss';

@include layout() {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    max-width: $layout_max_width;

    &--fluid {
        margin: 0;
        max-width: none;
    }

    &--edgeless {
        @include layout-edgeless;
    }

    @each $label, $width in $viewport-min-widths {
        @include viewport-min($label) {
            &--#{$label}-edgeless {
                @include layout-edgeless;
            }
        }
    }
}
