.#{$LAYOUT} {
    display: block;
    overflow: hidden;

    //
    // -------------------------------------------------------------------------
    // Containment.
    // -------------------------------------------------------------------------
    //

    &--solid {
        margin: 0 auto;
        max-width: $layout_max_width;
    }

    &--fluid {
        width: 100%;
    }

    //
    // -------------------------------------------------------------------------
    // Edges.
    // -------------------------------------------------------------------------
    //

    &--edges {
        overflow: visible;

        .#{$ROW} {
            margin-left: 0rem;
            margin-right: 0rem;
        }
    }

    @each $label, $width in $viewport-min-widths {
        @include viewport-min($label) {
            &--#{$label}-edges {
                overflow: initial;

                .#{$ROW} {
                    margin-left: 0rem;
                    margin-right: 0rem;
                }
            }
        }
    }

    //
    // -------------------------------------------------------------------------
    // Breakaways.
    // -------------------------------------------------------------------------
    //

    &--breakaway {
        margin-bottom: $gutter-width;
    }

    @each $label, $width in $viewport-min-widths {
        @include viewport-min($label) {
            &--#{$label}-breakaway {
                margin-bottom: $gutter-width;
            }
        }
    }
}
