@if $debug {
    body:before {
        content: "";
        font-size: 18px;
        font-weight: bold;
        left: 0;
        opacity: 0.5;
        padding: 0.5rem 0rem;
        position: absolute;
        text-align: center;
        text-transform: uppercase;
        top: 0;
        width: 100%;
    }

    @each $label, $width in $viewport-min-widths {
        @include viewport-min($label) {
            body:before {
                $color: rgb(random(255), random(255), random(255));

                content: "#{$label}";
                background-color: $color;
                color: set-text-color($color);
            }
        }
    }
}

.#{$LAYOUT} {
    @include debug-border(red);
}

.#{$COLUMN} {
    @include debug-border(green);
}

.#{$ROW} {
    @include debug-border(orange);
}
