@mixin at($point) {
    $min: map-get($viewport_min_widths, $point);

    @media (min-width: $min) {
        @content;
    }
}

@mixin between($point_a, $point_b) {
    $min: map-get($viewport_min_widths, $point_a);
    $max: map-get($viewport_min_widths, $point_b) - 1px;

    @media (min-width: $min) and (max-width: $max) {
        @content;
    }
}

@mixin width($size, $total, $gutter, $breaks_at) {
    $percent: ($size / $total) * 100%;
    $width: 0;

    @if ($gutter > 0) {
        $width: calc(#{$percent} - (#{$gutter} - (#{$gutter} / #{$breaks_at}));
    } @else {
        $width: $percent;
    }

    flex-shrink: 0;
    flex-grow: 0;
    flex-basis: $width;
    width: $width;
    max-width: $width;
}
