@mixin at($point) {
    $min: map-get($viewport_min_widths, $point);

    @media (min-width: $min) {
        @content;
    }
}

@mixin between($point_a, $point_b) {
    $min: map-get($viewport_min_widths, $point_a);
    $max: map-get($viewport_min_widths, $point_b) - 1px;

    @media (min-width: $min) and (max-width: $max) {
        @content;
    }
}

@mixin width($size, $total, $gutters, $breaks_at) {
    $width: make-width($size, $total, $gutters, $breaks_at);

    flex-shrink: 0;
    flex-grow: 0;
    flex-basis: $width;
    width: $width;
    max-width: $width;
}

@function make-width($size, $total, $gutters, $breaks_at, $offset: 0) {
    $percent: ($size / $total) * 100%;
    $width: 0;

    @if $gutters == true {
        @if $offset > 0 {
            $width: calc((#{$offset} * (#{$percent} - (#{$gutter_width} - (#{$gutter_width} / #{$breaks_at}))) + (#{$offset * #{$gutter_width}}));
        } @else {
            $width: calc(#{$percent} - (#{$gutter_width} - (#{$gutter_width} / #{$breaks_at})));
        }
    } @else {
        $width: $percent;
    }

    @return $width;
}

@function create-offset($offset, $size, $total, $breaks_at) {
    @return make-width($size, $total, $gutter_width, $breaks_at, $offset);
}
