@mixin root($element: '') {
    @if $element != "" {
        .#{$block-name-layout}__#{$element} {
            @content;
        }
    } @else {
        .#{$block-name-layout} {
            @content;
        }
    }
}

@mixin element($element) {
    &__#{$element} {
        @content;
    }
}

@mixin modifier($modifier) {
    &--#{$modifier} {
        @content;
    }
}

@mixin utility($name) {
    @at-root {
        .util-zeus-#{$name} {
            @content;
        }
    }
}

@mixin viewport-min($size) {
    $min: map-get($viewport-sizes, $size);

    @media (min-width: $min) {
        @content;
    }
}


@mixin viewport-exact($size) {
    @if $size == 'xs' {
        $max: map-get($viewport-sizes, 'sm');

        @media (max-width: $max - 1) {
            @content;
        }
    } @else if $size == 'sm' {
        $max: map-get($viewport-sizes, 'md');
        $min: map-get($viewport-sizes, 'sm');

        @media (max-width: ($max - 1)) and (min-width: $min) {
            @content;
        }
    } @else if $size == 'md' {
        $max: map-get($viewport-sizes, 'lg');
        $min: map-get($viewport-sizes, 'md');

        @media (max-width: ($max - 1)) and (min-width: $min) {
            @content;
        }
    } @else if $size == 'lg' {
        $max: map-get($viewport-sizes, 'xl');
        $min: map-get($viewport-sizes, 'lg');

        @media (max-width: ($max - 1)) and (min-width: $min) {
            @content;
        }
    } @else if $size == 'xl' {
        $min: map-get($viewport-sizes, 'xl');

        @media (min-width: $min) {
            @content;
        }
    } @else {
        @content;
    }
}
