$container-width: 75rem !default;
$gutter-width: 0.65rem !default;
$column-count: 12 !default;
$lc-blocks: false !default;
$viewport-sizes: (
    xs: 0px,
    sm: 544px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
) !default;

$block-name-layout: 'Layout';
@if $lc-blocks {
    $block-name-layout: 'layout';
}
