@mixin viewport-min($size) {
    $min: map-get($viewport-min-widths, $size);

    @media (min-width: $min) {
        @content;
    }
}

@mixin flex-width($percent) {
    flex: 0 0 $percent;
    width: $percent;
    max-width: $percent;
}
