@mixin viewport-min($size) {
    $min: map-get($viewport-min-widths, $size);

    @media (min-width: $min) {
        @content;
    }
}

@mixin flex-width($percent) {
    flex: 0 0 $percent;
    flex-shrink: 0;
    flex-grow: 0;
    flex-basis: $percent;
    width: $percent;
    max-width: $percent;
}

@mixin debug-border($color) {
    @if $debug {
        border: 1px solid $color;
    }
}

@function set-text-color($color) {
    @if (lightness($color) > 40) {
      @return #000000;
    }

    @else {
      @return #FFFFFF;
    }
}
