$layout_identifier: 'Layout' !default;
$row_identifier: 'row' !default;
$column_identifier: 'column' !default;
$layout_max_width: 75rem !default;
$column-count: 12 !default;
$gutter-width: 2rem !default;
$debug: false !default;

$viewport-min-widths: (
    xs: 0px,
    sm: 544px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
) !default;

$half-gutter-width: $gutter-width / 2;
$LAYOUT: #{$layout_identifier};
$ROW: #{$layout_identifier}__#{$row_identifier};
$COLUMN: #{$layout_identifier}__#{$column_identifier};
